extend layout/base

block title
    title Admin
    
block admin
    
    include layout/admin-topbar
    include mixins/blade
    
    .admin
    
        h2.title Shots
            a.btn.green(href="{{ url('admin/shot') }}") Add new
        
        table.table-shots
            thead
                tr
                    th Title
                    th Options
            tbody
            +if('count($shots) > 0')
                +foreach('$shots as $shot')
                    tr
                        td {{ $shot->title_sp }}
                        td
                            a.btn.green(href!="{{ url('admin/shot/' . $shot->id) }}") Edit
                            a.btn.red(href!="{{ url('admin/shot/delete/' . $shot->id) }}") Delete
                +else
                    tr
                        td No shots yet :(
                        td
                            a.btn.green(href="{{ url('admin/shot') }}") Add one
