extend layout/base

block title
    title Programs
    
block admin
    
    include layout/admin-topbar
    include mixins/blade
    
    .admin
    
        h2.title Programs
            a.btn.green(href="{{ url('admin/program') }}") Add new
        
        table.table-shots
            thead
                tr
                    th Name
                    th Options
            tbody
            +if('count($programs) > 0')
                +foreach('$programs as $program')
                    tr
                        td {{ $program->name }}
                        td
                            a.btn.green(href!="{{ url('admin/program/' . $program->id) }}") Edit
                            a.btn.red(href!="{{ url('admin/program/delete/' . $program->id) }}") Delete
                +else
                    tr
                        td No programs yet :(
                        td
                            a.btn.green(href="{{ url('admin/program') }}") Add one
