extend layout/base

block title
    title Admin
    
block admin
    
    include layout/admin-topbar
    
    .admin
    
        h2.title Shots
            a.btn.green(href="{{ url('admin/new') }}") Add new
        
        table.table-shots
            thead
                tr
                    th Title
                    th Options
            tbody
                tr
                    td A new hope
                    td
                        a.btn.green(href="#") Edit
                        a.btn.red(href="#") Delete
                tr
                    td A new hope
                    td
                        a.btn.green(href="#") Edit
                        a.btn.red(href="#") Delete
                tr
                    td A new hope
                    td
                        a.btn.green(href="#") Edit
                        a.btn.red(href="#") Delete
