extend layout/base

block title Portafolio de Asael Jaimes - Trabajos

block topbar
    include layout/topbar
    
block profile
    include layout/profile
    
block shots
    include layout/categories
    include layout/shots

block footer
    include layout/footer
