extend layout/base

block title
    title {{ $data['shot']['title'] }}
    
block topbar
    include layout/topbar
    
block profile
    include layout/profile
    
block shot
    include layout/shot
    
block modals
    include layout/contact
    include layout/about
    .layer
    
block footer
    include layout/footer
