extend ../layout/admin

block title
    title Actualizar Artículo - {{ $article->title }}
    
block content
    include ../partials/errors
    .content
        | {!! Form::model($article, ['url' => url('admin/articles', $article->slug), 'method' => 'PATCH', 'class' => 'form', 'files' => true]) !!}
        include ../mixins/blade
        +include("partials.form", "['submitButtonText' => 'Actualizar']")
        | {!! Form::close() !!}
