extend ../layout/admin

block title
    title {{ $article->title }}
    
block content
    .row
        h1 {{ $article->title }}
    .row
        .column.medium-12
            article {{ $article->body }}
            include ../mixins/blade
            +unless('$article->tags->isEmpty()')
                ul
                    +foreach('$article->tags as $tag')
                        li {{ $tag->name }}
