include mixins
.modal(data-target="about")
    h2.title
        | About me
        +icon('close')
    .content
        .photo
            img.img(src="http://realnerdo.com/img/asaelx.jpg", alt="asaelx")
            .data
                .name {{ $admin->name }}
                .degree Computer Science Engineer
                .job {{ $admin->occupation }}
        p My name is Asael Jaimes. I currently live in the city of Merida, Yucatan, Mexico and I make things for the internet. I'm very passionate about technology and great design.
        p I studied Computer Science Engineering because I love to understand how things work. I also studied design in order to know how to create interesting solutions.
        p Ever since I was a little kid I've always loved to experiment with things, disassemble them and find out if I can create new things. I love to learn as much as I can, I'm very self-taught and proactive.
        p I develop projects which combine the care for design and functionality, so they can complement each other in order to create solutions with an intuitive experience for the users.
        p When I'm not on the web, you can find me feeding my other passions. While I love to spend my time working, experimenting and learning about design and code stuff through my screen, I like to clear my mind doing a lot of skateboarding, it teaches me to face my fears and improving myself by mastering new tricks. I also love to watch movies, even the bad ones. I'm learning about filmmaking and photography, which I intend to combine it with traveling.

.modal(data-target="contact")
    h2.title
        | Contact me
        +icon('close')
    .content
        p You can contact me for stuff like:
        ul
            li “I need a simple but elegant website to have presence on internet”.
            li “I want an online store to sell my products”.
            li “I need an administrable website where I can modify its content easily”.
            li “I want a business card design”.
            li “I'd like a redesign to the website I already have”.
            li “Let's go grab a beer and talk about this awesome project I have”.
        p Or any other thing in your mind and let's see what we can do.
        .info
            .photo
                img.img(src="{{ asset('img/profile-big.png') }}")
            h3.title My info
            p.degree Computer Science Engineer
            p.phone
                +icon('phone')
                | +52 (999) 217 5661
            p.email
                +icon('email')
                a.link(href!="mailto:{{ $admin->email }}") {{ $admin->email }}
        a.cv.btn.green(href="#", target="_blank")
            | Resume 
            +icon('right')
        

.layer
