include blade
+if('isset($currentTag)')
    .tagged.col-12 Projects archived in <a href="{{ url($currentTag->slug) }}" class="link">{{ $currentTag->name }}</a>
.shots.col-12
    ul.list.col-12
        +foreach('$articles as $article')
            li.item.col-3
                a.link(href!="{{ url($article->slug) }}", style!="background: url({{ $article->cover()->url }}) no-repeat center center; background-size: cover;", title!="{{ $article->title }}")
