/* Reset */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  position: relative;
  width: 100%; }

img {
  vertical-align: bottom; }

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input, textarea, select {
  font-size: 100%; }

/* Reset HTML5 Search Input in Webkit */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }
  a:hover {
    cursor: pointer; }

@font-face {
  font-family: Gotham Rounded;
  src: url("../fonts/GothamRounded-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRounded-Book.otf") format("opentype"), url("../fonts/GothamRounded-Book.woff") format("woff"), url("../fonts/GothamRounded-Book.ttf") format("truetype"), url("../fonts/GothamRounded-Book.svg#GothamRounded-Book") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Olympic;
  src: url("../fonts/OlympicBranding.eot?#iefix") format("embedded-opentype"), url("../fonts/OlympicBranding.otf") format("opentype"), url("../fonts/OlympicBranding.woff") format("woff"), url("../fonts/OlympicBranding.ttf") format("truetype"), url("../fonts/OlympicBranding.svg#OlympicBranding") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "Gotham Rounded", "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px; }

html, body {
  position: relative;
  height: 100%;
  width: 100%; }

.btn {
  display: inline-block;
  padding: 0.5rem 0.8rem 0.3rem 0.8rem;
  border-radius: 0.21429rem;
  font-size: 13px;
  font-size: 0.92857rem;
  color: #FFFFFF; }
  .btn.green {
    background: #1ABC9C; }

/* Animations */
@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100); } }
@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100); }
  to {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0); } }
@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100); }
  to {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0); } }
@-webkit-keyframes modal-in {
  from {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%); }
  to {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }
@keyframes modal-in {
  from {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%); }
  to {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }
@-webkit-keyframes modal-out {
  from {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  to {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%); } }
@keyframes modal-out {
  from {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  to {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%); } }
/* Topbar */
.topbar {
  margin: 0 auto;
  width: 75.71429rem;
  content: " ";
  display: table;
  clear: both;
  padding: 1rem;
  height: 3.57143rem; }
  .topbar .languages {
    content: " ";
    display: table;
    clear: both;
    float: left; }
    .topbar .languages .lang {
      float: left;
      padding-top: 0.1rem;
      text-transform: uppercase; }
    .topbar .languages .switch {
      float: left;
      margin: 0 0.5rem; }
      .topbar .languages .switch #lang_switch {
        display: none; }
      .topbar .languages .switch label {
        background: #ECF0F1;
        display: inline-block;
        border-radius: 0.71429rem;
        text-indent: -9999999px;
        height: 1.42857rem;
        width: 2.5rem;
        position: relative; }
        .topbar .languages .switch label:hover {
          cursor: pointer; }
        .topbar .languages .switch label:before {
          background: #1ABC9C;
          border-radius: 50%;
          position: absolute;
          content: "";
          top: 0.14286rem;
          height: 1.14286rem;
          width: 1.14286rem; }
        .topbar .languages .switch label.en:before {
          left: 0.14286rem; }
        .topbar .languages .switch label.sp:before {
          right: 0.14286rem; }
  .topbar .about {
    float: right; }

/* Profile */
.profile {
  margin: 0 auto;
  width: 75.71429rem;
  text-align: center; }
  .profile .photo {
    display: inline-block;
    border-radius: 50%;
    height: 7.14286rem;
    width: 7.14286rem;
    overflow: hidden; }
    .profile .photo .img {
      width: 100%;
      vertical-align: bottom; }
  .profile .name {
    font-family: "Olympic", "Gotham Rounded", "Lato", Helvetica, Arial, sans-seif;
    font-size: 80px;
    font-size: 5.71429rem;
    color: #2980B9;
    margin-bottom: 0.5rem; }

/* Categories */
.categories {
  margin: 0 auto;
  width: 75.71429rem; }
  .categories .list {
    width: 100%;
    padding: 1rem 0;
    text-align: center; }
    .categories .list .option {
      display: inline-block;
      margin: 0 1rem; }
      .categories .list .option .link {
        display: inline-block;
        padding: 0.2rem 0;
        color: #2980B9;
        text-transform: uppercase;
        transition: all 0.3s ease;
        position: relative; }
        .categories .list .option .link:before {
          background: #1ABC9C;
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 0.14286rem;
          width: 100%;
          -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
          visibility: hidden;
          opacity: 0;
          filter: alpha(opacity=0);
          transition: all 0.3s ease; }
        .categories .list .option .link:hover, .categories .list .option .link.active {
          color: #1ABC9C; }
          .categories .list .option .link:hover:before, .categories .list .option .link.active:before {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            visibility: visible;
            opacity: 1;
            filter: alpha(opacity=100); }

/* Shots */
.shots {
  margin: 0 auto;
  width: 75.71429rem;
  position: relative;
  overflow: auto; }
  .shots .slider {
    content: " ";
    display: table;
    clear: both; }
    .shots .slider .slide {
      float: left;
      padding-bottom: 3rem; }
      .shots .slider .slide .list {
        content: " ";
        display: table;
        clear: both; }
        .shots .slider .slide .list .shot {
          float: left;
          padding: 0.5rem; }
          .shots .slider .slide .list .shot .link {
            display: block;
            border-radius: 0.21429rem;
            height: 13.42857rem;
            width: 17.85714rem;
            overflow: hidden; }
            .shots .slider .slide .list .shot .link .img {
              width: 100%;
              vertical-align: bottom; }
  .shots .dots {
    content: " ";
    display: table;
    clear: both;
    position: absolute;
    left: 50%;
    bottom: 1rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
    .shots .dots .dot {
      text-indent: -99999px;
      background: #b8c5d2;
      display: block;
      float: left;
      border-radius: 50%;
      height: 0.85714rem;
      width: 0.85714rem;
      margin: 0 0.3rem; }
      .shots .dots .dot.active, .shots .dots .dot:hover {
        background: #2980B9;
        cursor: pointer; }

/* Shot */
.the-shot {
  width: 57.14286rem;
  margin: 1rem auto 0 auto;
  color: #34495E;
  text-align: center; }
  .the-shot .nav {
    content: " ";
    display: table;
    clear: both;
    padding: 1rem 0;
    width: 100%; }
    .the-shot .nav .made {
      float: right; }
      .the-shot .nav .made span {
        color: #34495E;
        font-size: 14px;
        font-size: 1rem;
        position: relative;
        top: -0.4rem;
        margin-right: 0.2rem; }
      .the-shot .nav .made .list {
        display: inline-block; }
        .the-shot .nav .made .list .item {
          position: relative;
          float: left;
          margin-right: 0.3rem; }
    .the-shot .nav .back {
      float: left;
      color: #2980B9;
      font-size: 16px;
      font-size: 1.14286rem;
      position: relative; }
      .the-shot .nav .back .img {
        margin-right: 0.3rem;
        position: relative;
        top: -0.3rem; }
      .the-shot .nav .back:before {
        background: #1ABC9C;
        border-radius: 0.07143rem;
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        height: 0.14286rem;
        width: 100%;
        -webkit-transform: translateY(0.6rem);
        transform: translateY(0.6rem);
        visibility: hidden;
        opacity: 0;
        filter: alpha(opacity=0); }
      .the-shot .nav .back:hover {
        color: #1ABC9C;
        transition: all 0.3s ease; }
        .the-shot .nav .back:hover:before {
          -webkit-transform: translateY(0.3rem);
          transform: translateY(0.3rem);
          visibility: visible;
          opacity: 1;
          filter: alpha(opacity=100);
          transition: all 0.3s ease; }
  .the-shot .title {
    font-size: 34px;
    font-size: 2.42857rem;
    margin: 1rem 0; }
  .the-shot > .img {
    border-radius: 0.21429rem;
    margin-bottom: 1rem;
    width: 100%; }
  .the-shot .content {
    font-size: 16px;
    font-size: 1.14286rem;
    text-align: left; }
    .the-shot .content p {
      line-height: 1.5;
      margin-bottom: 1rem; }
      .the-shot .content p:last-child {
        margin: 0; }

/* Footer */
.footer {
  margin: 0 auto;
  width: 75.71429rem;
  color: #899FB5;
  text-align: center;
  font-family: "Lato";
  font-style: italic;
  padding: 2rem 0; }
  .footer .love {
    color: #E74C3C; }

/* Modal */
.layer {
  display: none;
  -webkit-animation: fade-out 0.3s forwards ease;
  animation: fade-out 0.3s forwards ease;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  transition: all 0.3s ease; }
  .layer.visible {
    display: block;
    -webkit-animation: fade-in 0.3s forwards ease;
    animation: fade-in 0.3s forwards ease; }

.modal {
  display: none;
  -webkit-animation: modal-out 0.3s forwards ease;
  animation: modal-out 0.3s forwards ease;
  background: #EAEEF3;
  border-radius: 0.21429rem;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 57.14286rem;
  z-index: 100; }
  .modal > .title {
    text-align: center;
    background: #1ABC9C;
    color: #FFFFFF;
    position: relative;
    padding: 1rem 0;
    font-size: 18px;
    font-size: 1.28571rem; }
    .modal > .title .close {
      position: absolute;
      right: 1rem;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
      .modal > .title .close:hover {
        cursor: pointer; }
  .modal .content {
    color: #34495E;
    padding: 2rem;
    font-size: 18px;
    font-size: 1.28571rem; }
    .modal .content > .photo {
      float: left;
      margin-right: 1.5rem;
      position: relative; }
      .modal .content > .photo .data {
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.67));
        position: absolute;
        left: 0;
        bottom: 0;
        font-family: "Lato";
        font-size: 12px;
        font-size: 0.85714rem;
        font-style: italic;
        color: #FFFFFF;
        padding: 3rem 0.5rem 0.5rem 0.5rem;
        width: 100%; }
        .modal .content > .photo .data .name {
          font-size: 16px;
          font-size: 1.14286rem; }
    .modal .content p {
      line-height: 1.3;
      margin-bottom: 1rem; }
      .modal .content p:last-child {
        margin: 0; }
    .modal .content ul {
      list-style: url("../img/check.png");
      font-family: "Lato";
      font-style: italic;
      padding-left: 2rem;
      margin-bottom: 1rem; }
      .modal .content ul li {
        margin: 0.5rem 0; }
    .modal .content .info {
      padding-left: 14.28571rem; }
      .modal .content .info .title {
        font-size: 30px;
        font-size: 2.14286rem;
        margin-bottom: 0.5rem; }
      .modal .content .info .phone {
        color: #1ABC9C; }
        .modal .content .info .phone .img {
          position: relative;
          top: -0.3rem;
          margin-right: 0.5rem; }
      .modal .content .info .email .link {
        color: #1ABC9C; }
      .modal .content .info .email .img {
        position: relative;
        top: -0.4rem;
        margin-right: 0.5rem; }
      .modal .content .info .photo {
        position: absolute;
        left: 0;
        bottom: 0; }
    .modal .content .cv {
      position: absolute;
      right: 2rem;
      bottom: 2rem;
      font-size: 16px;
      font-size: 1.14286rem; }
      .modal .content .cv .img {
        position: relative;
        top: -0.3rem;
        margin-left: 0.5rem; }
  .modal.visible {
    display: block;
    -webkit-animation: modal-in 0.3s forwards ease;
    animation: modal-in 0.3s forwards ease; }
