include mixins
.modal(data-target="about")
    h2.title
        | Acerca de mí
        +icon('close')
    .content
        .photo
            img.img(src="http://realnerdo.com/img/asaelx.jpg", alt="asaelx")
            .data
                .name Asael Jaimes
                .degree Ing. en Sistemas Computacionales
                .job Diseñador y Desarrollador Web
        p El nombre es Asael Jaimes, actualmente vivo en la ciudad de Mérida, Yucatán y me dedico a hacer cosas para la web. Tengo una pasión por la tecnología y el buen diseño.
        p Estudié Ingeniería en Sistemas Computacionales porque me gusta mucho entender cómo funcionan las cosas, de igual manera me dediqué a estudiar diseño para saber cómo crear soluciones interesantes.
        p Desde pequeño me ha gustado mucho experimentar con las cosas, desarmarlas y ver si puedo crear cosas nuevas. Me gusta aprender todo lo que pueda, soy muy autodidacta y proactivo.
        p Desarrollo proyectos que combinan el cuidado al diseño y funcionalidad, de manera que estos se complementen para crear soluciones que brinden a los usuarios una experiencia intuitiva.
        p Cuando no estoy en la web, me puedes encontrar alimentando mis otras pasiones. Me encanta ir al cine, ver todas las películas, sean buenas o malas, dibujar y escribir cualquier cosa que se me ocurra, ir a cualquier concierto al que pueda ir, viajar, tanto para conocer otra ciudad, sus comidas y tradiciones, como para asistir a alguna conferencia de diseño y tecnología.

.modal(data-target="contact")
    h2.title
        | Contáctame
        +icon('close')
    .content
        p Puedes contactarme para cosas como:
        ul
            li “Necesito un sitio web básico, simple, pero elegante para tener presencia en internet”.
            li “Quiero una tienda en línea para vender mis productos”.
            li “Necesito un sitio web administrable, al que le pueda editar su contenido fácilmente”.
            li “Quiero unas tarjetas de presentación”.
            li “Me gustaría un rediseño al sitio web que tengo”.
            li “Vamos a tomarnos una cerveza y platicar de un proyecto interesante”.
        p O para alguna otra cosa que se te ocurra y vemos qué se puede hacer.
        .info
            .photo
                img.img(src="http://realnerdo.com/img/profile-big.png")
            h3.title Mis datos
            p.degree Ing. en Sistemas Computacionales
            p.phone
                +icon('phone')
                | (999) 217 5661
            p.email
                +icon('email')
                a.link(href="#") asaelx@gmail.com
        a.cv.btn.green(href="#", target="_blank")
            | Ver currículum 
            +icon('right')
        

.layer
