.profile.col-12
    .photo(style="background: url(http://realnerdo.com/img/profile.png) no-repeat center center; background-size: cover;")
    .name
        a.link(href="#") Asael Jaimes
    button.btn.green(data-modal="contact") Contáctame
