include ../mixins/blade
ul#published(class!="list tabbed {{ (is_null($current) || $current == 'published') ? 'active' : '' }}")
    +if('!$published->isEmpty()')
        +foreach('$published as $article')
            include post
        .list-footer
            +if('$published->total() > 1')
                .count Hay {{ $published->total() }} artículos en total
                +else
                    .count Solo hay {{ $published->total() }} artículo
            | {!! $published->render() !!}
        +else
            .empty
                i.twa.twa-hushed
                h4.legend Aún no tienes artículos publicados
                a.btn.blue(href="{{ url('admin/articles/create') }}") Escribe tu primer artículo
