.shot.col-12
    .top.row
        .back.col-6
            a.link(href="#") Regresar a todos los trabajos
        .made-with.col-6 Hecho con <img src="http://realnerdo.com/img/uploads/1436413932_icon.png", alt="sketch">
        
    article.article.row
        .col-12
            .cover(style="background: url(http://realnerdo.com/img/uploads/1455398421_big.png) no-repeat center center; background-size: cover;")
        .col-12
            a.link(href="#") Demo
        .col-12
            h1.title Selz Widget - Prueba de Interfaz de Usuario
        .col-12
            .body
                p Hice esta prueba de interfaz de usuario para aplicar como Freelancer Theme Developer. Es un widget para un producto de una tienda en línea.
                
        
    
