include mixins
.shot.col-12
    .top.row
        .back.col-6
            a.link(href="{{ url('/') }}")
                +icon('left')
                |  Regresar a todos los trabajos
        .made-with.col-6
            span.text  Hecho con
            +icon('sketch')
            +icon('laravel')
            +icon('jquery')
        
    article.article.row
        .col-12
            .cover
                img.img(src="http://realnerdo.com/img/uploads/1455398421_big.png", width="800")
        .col-12
            a.btn.green(href="#", target="_blank")
                | Demo 
                +icon('right')
        .col-12
            h1.title Selz Widget - Prueba de Interfaz de Usuario
        .col-12
            .body
                p Hice esta prueba de interfaz de usuario para aplicar como Freelancer Theme Developer. Es un widget para un producto de una tienda en línea.
                
        
    
