.topbar.col-12
    .languages.col-6
        .lang English
        .switch
            label(for="lang_switch", class="sp")
            input#lang_switch(type="checkbox", name="lang_switch", checked)
        .lang Español
            
    .about.col-6
        button.btn.green(data-modal="about") Acerca de mí
