extend ../layout/admin

block title
    title Artículos
    
block content
    .content
        h1.title Artículos escritos por <a href="{{ url('admin/articles/author', $user->slug) }}" class="link">{{ $user->name }}</a>
        include ../partials/list
            
