/* Profile */

.profile
    animation: up-in 0.8s forwards ease
    +center
    text-align: center
    .photo
        display: inline-block
        border-radius: 50%
        height: rem(100px)
        width: rem(100px)
        overflow: hidden
        .img
            width: 100%
            vertical-align: bottom
    .name
        font-family: 'Olympic', 'Gotham Rounded', 'Lato', Helvetica, Arial, sans-seif
        +font-size(80px)
        color: $blue
        margin-bottom: 0.5rem
