extend ../layout/admin

block title
    title Instalaci칩n
    
block content
    include ../partials/errors
    | {!! Form::open(['url' => url('auth/login'), 'class' => 'form sign-form']) !!}
    fieldset.fieldset
        legend.legend Iniciar sesi칩n
        .group
            | {!! Form::label('email', 'Correo electr칩nico', ['class' => 'label']) !!}
            | {!! Form::text('email', old('email'), ['class' => 'input']) !!}
        .group
            | {!! Form::label('password', 'Contrase침a', ['class' => 'label']) !!}
            | {!! Form::password('password', ['class' => 'input']) !!}
        .group
            | {!! Form::label('remember', 'Recordarme', ['class' => 'label']) !!}
            | {!! Form::checkbox('remember', null, null, ['class' => 'onoffswitch']) !!}
    .group
        | {!! Form::submit('Entrar', ['class' => 'btn blue submit-right']) !!}
    | {!! Form::close() !!}
