extends partials/base

block metas
    meta(name="description", content="Portafolio de Asael Jaimes")

block title
    title Nerdo Designs - Portafolio de Asael Jaimes
    
block topbar
    include partials/topbar

block profile
    include partials/profile

block tags
    include partials/tags

block shots
    include partials/shots

block footer
    include partials/footer
    
block modals
    include partials/modals
    
block scripts
    script(src="{{ asset('js/themes/portfolio/magic.js') }}")
