.modal(data-target="about")
    h2.title {{ $data['about_title'] }} 
        .close
            img.img(src="{{ url('img/close.png') }}")
    .content
        .photo
            img.img(src="{{ url('img/asaelx.jpg') }}")
            .data
                .name {{ $data['name'] }}
                .degree {{ $data['degree'] }}
                .job {{ $data['job'] }}
        {!! $data['about_content'] !!}
