nav
    ul.categories
        li.option
            a.link(href="#") Web
        li.option
            a.link(href="#") Móvil
        li.option
            a.link(href="#") Gráfico
        li.option
            a.link(href="#") Fotografía
