nav.categories
    ul.list
        li.option
            a.link.active(href="#") Web
        li.option
            a.link(href="#") Móvil
        li.option
            a.link(href="#") Gráfico
        li.option
            a.link(href="#") Fotografía
