include ../mixins/blade

nav.categories
    ul.list
        +foreach("$data['tags'] as $tag")
            +if("$data['lang'] == 'sp'")
                li.option
                    a.link(href!="{{ $tag->name_en }}") {{ $tag->name_sp }}
                +else
                    li.option
                        a.link(href!="{{ $tag->name_en }}") {{ $tag->name_en }}
