include ../mixins/blade

.modal(data-target="contact")
    h2.title {{ $data['contact_title'] }}
        .close
            img.img(src="{{ url('img/close.png') }}")
    .content
        {!! $data['contact_content'] !!}
        .info
            .photo
                img.img(src="{{ url('img/profile-big.png') }}")
            h3.title
                +if("$data['lang'] == 'sp'")
                    | Mis datos
                    +else
                        | My contact info    
            p.degree {{ $data['degree'] }}
            p.phone
                img.img(src="{{ url('img/phone.png') }}")
                | {{ $data['tel'] }}
            p.email
                img.img(src="{{ url('img/email.png') }}")
                a.link(href="mailto:{{ $data['email'] }}") {{ $data['email'] }}
        a.cv.btn.green(href="#")
            +if("$data['lang'] == 'sp'")
                | Ver Currículum
                +else
                    | Resume
            img.img(src="{{ url('img/right.png') }}")
