.profile
    .photo
        img.img(src="{{ url('img/profile.png') }}", alt="asaelx")
    .name {{ $data['name'] }}
    a.trigger-modal.btn.green(href="#", data-target="contact") {{ $data['contact_title'] }}
