.profile
    .photo
        a.link(href="{{ url('/') }}")
            img.img(src="{{ url('img/profile.png') }}", alt="asaelx")
    .name
        a.link(href="{{ url('/') }}") {{ $data['name'] }}
    //- a.trigger-modal.btn.green(href="#", data-target="contact") {{ $data['contact_title'] }}
