include ../mixins/blade

.the-shot
    nav.nav
        a.back(href="{{ url('/') }}")
            img.img(src="{{ url('img/left.png') }}")
            +if("$data['lang'] == 'sp'")
                | Regresar a todos los trabajos
                +else
                    | Back to all projects
        .made 
            span
                +if("$data['lang'] == 'sp'")
                    | Hecho con
                    +else
                        | Made with
            ul.list
                +foreach("$data['shot']['programs'] as $program")
                    li.item(title="{{ $program['name'] }}")
                        img.img(src="{{ url($program['icon']) }}")
    img.img(src="{{ url($data['shot']['image_big']) }}")
    h1.title {{ $data['shot']['title'] }}
    .content
        | {!! $data['shot']['content'] !!}
