.the-shot
    nav.nav
        a.back(href="{{ url('/') }}")
            img.img(src="{{ url('img/left.png') }}")
            | Regresar a todos los trabajos
        .made 
            span Hecho con
            ul.list
                li.item(title="Adobe Photoshop CS6")
                    img.img(src="{{ url('img/photoshop.png') }}")
                li.item(title="Adobe Illustratot CS6")
                    img.img(src="{{ url('img/illustrator.png') }}")
                li.item(title="Sketch 3")
                    img.img(src="{{ url('img/sketch.png') }}")
    img.img(src="{{ url('img/shot-big.jpg') }}")
    h1.title Tarjetas de presentación
    .content
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
