.shots
    ul.slider
        li.slide
            ul.list
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
        li.slide
            ul.list
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
        li.slide
            ul.list
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
                li.shot
                    a.link(href="{{ url('shot') }}")
                        img.img(src="{{ url('img/shot.jpg') }}")
