include ../mixins/blade

.topbar
    // Languages
    .languages
        .lang English
        .switch
            label.sp(for="lang_switch") Language
            +if("isset($data['lang']) && $data['lang'] == 'sp'")
                input#lang_switch(type="checkbox", name="lang_switch", checked)
                +else
                    input#lang_switch(type="checkbox", name="lang_switch")
        .lang Español
    
    // About
    a.about.trigger-modal.green.btn(href="#", data-target="about")
        {{ $data['about_title'] }}
